#removal_planner {
  width: 762px;
}
#removal_planner .scroll-pane {
  width: 100%;
  height: 200px;
  overflow: auto;
}
#removal_planner #tabs .ui-tabs-hide {
  position: absolute;
  left: -10000px;
  display: block;
}
#tabs {
  width: 100%;
}
.jScrollPaneContainer {
position: relative;
overflow: hidden;
z-index: 1;
}
#removal_planner .tips {
  overflow: hidden;
}
#removal_planner .time,
#removal_planner .tip {
  float: left;
  width: 50%;
  margin-bottom: 30px;
}
